html{
  box-sizing: border-box;
  --main-color:#272727;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  min-width: 320px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat' ,sans-serif;
  color: var(--main-color);
}
img{
max-width: 100%;
  height: auto;
}
button{
cursor: pointer;
  padding: 0;
}
input,textarea,select{
font-family: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
list-style: none;
  padding: 0;
  margin: 0;
  }
h1,h2,h3,p{
  margin: 0;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container{
    padding: 0 72px;
  }
}
@media (max-width: 1000px) {
  .container{
    padding: 0 94px;
  }
}
@media (max-width: 580px) {
  .container{
    padding: 0 20px;
  }
}
