.hero{
  padding: 60px 0 40px 0;
}
.hero__slider-link{
  width: 100%;
  display: flex;
  align-items: flex-end;
  min-height: 500px;
  padding: 70px 80px;
  background-color: var(--main-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__slider-title{
  max-width: min-content;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-text);

}
@media (max-width: 1200px) {
  .hero{
    padding: 50px 0 35px 0;
  }

.hero__container{
  padding: 0;
}
  .hero__slider-title{
    font-size: 56px;
  }
  .hero__slider-link{
    padding: 80px 90px;
  }
}
@media (max-width: 1000px) {
  .hero__slider-title{
    font-size: 44px;
  }
  .hero__slider-link{
    padding: 81px 94px;
    min-height: 730px;
  }
}
@media (max-width: 760px) {

  .hero__slider-title{
    font-size: 38px;
  }
  .hero__slider-link{
    padding: 60px 60px;

  }
}
@media (max-width: 580px) {
  .hero{
    padding: 30px 0 20px 0;
  }
  .hero__slider-title{
    font-size: 30px;
  }
  .hero__slider-link{
    padding: 60px 20px;
    min-height: 400px;
  }
}
